/*
.guest{
    cursor: pointer;
}

.name_vorname {
    font-weight: bold;
    font-size: 20px;
}

.no_activ_user {
    background: #eee;
    opacity: .7;
}

ul.menu_header {
    margin: 0;
    overflow: hidden;
    height: 40px;
    color: rgb(0, 138, 230);
    background: #eee;
}

.menu_header li {
    float: left;
    display: block;
    padding: 11px;
}

.menu_header li.active {
    float: left;
    display: block;
    padding: 11px;
    background: rgb(197, 197, 197);
}

.menu_header li.active a {
    color: #636363;
}

.menu_header li a{
    color: rgb(0, 138, 230);
}

.menu_header li:active {
    background: rgb(197, 197, 197);
}
.sub_menu_header {
    overflow: hidden;
}
.sub_menu_header li {
    float: left;
    padding: 11px;
}

.input-append input.search-query {
    height: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#appendedInputButtons {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.event.span6 {
    margin: 0;
}

.right_block_event .body {
    height: 400px;
    overflow: auto;
}

.body {
    margin-top: 15px;
}

.list_events {
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

.list_events .event {
    padding: 10px;
}

.list_events .event:hover {
    background: #CCC;
}

.event.active {
    background: #CCC;
}

.full_info_event img{
    width: 100%;
}

.pop_window {
    z-index: 3;
    width: 56%;
    position: fixed;
    background: #eee;
    overflow: hidden;
    padding: 10px;
    border: 2px solid #ddd;
    border-top-left-radius: 10px;
    margin: 0% 20%;
    border-top-right-radius: 10px;
}

.span6 input[type="text"] {
    width: 100%;
    height: 34px;
}

.delete_member, .change_member {
    cursor: pointer;
}

.settings_tr {
    opacity: .2;
}

.settings_tr:hover {
    opacity: 1;
}

.no_activ_body {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    display: none;
    opacity: .6;
    z-index: 0;
}
.id_td_it {
    position: absolute;
    margin-left: -399px;
    background: rgba(238, 238, 238, 0.28);
    width: 50px;
}

.id_td {
    display:none;
}

.id_td_check {
    position: absolute;
    background: rgba(221, 221, 221, 0.13);
    margin-left: -332px;
    height: 20px;
    width: 8px;
}
.id_th_check {
    position: absolute;
    margin-left: -310px;
    height: 75px;
    width: 48px;
}

.id_th{
    display:none;
}

th.approve_th {
padding-bottom: 55px;
}

th.decline_th {
padding-bottom: 55px;
}

.type_account_th {
display: none;
}

td.type_account_td {
display: none;
}

th.last_name_th {
position: absolute;
width: 195px;
margin-left: -333px;
padding-top: 52px;
height: 75px;
}

table tr td.last_name_td {
    position: absolute;
    width: 170px;
    margin-left: -308px;
    overflow: hidden;
}

th.first_name_th {
position: absolute;
width: 105px;
height: 115px;
margin-left: -121px;
overflow: hidden;
padding-top: 52px;
}

table tr td.first_name_td {
    position: absolute;
    width: 105px;
    margin-left: -121px;
    overflow: hidden;
}

#last_name_td {
position: absolute;
width: 85px;
margin-left: -100px;
overflow: hidden;
}

.checkbox, .type, .name {
    float:left;
}

.name {
    margin-left: 5px;
    width: 70%
}

.type {
    font-weight: bold;
    width: 15%
}

.type_user {
    width: 100%;
    overflow: hidden;
}

.view_table {
    overflow: auto;
    margin-left: 379px;
    width: 75%;
}

.table-bordered {
    font-size: 14px;
}

#history_user {
    display: block;
    height: 400px;
    overflow: auto;
}

.edit_val {
    background: #FFFA97;
}

.hide_val {
    display: none;
}

.edit_val:hover .hide_val{
    display: block;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
    text-align: center;
}

.edit_val:hover .show_val{
    display: none;
}

*/
/*Svyatoslav add this*//*


a.sort {
    float: left;
}

select.filter {
    -webkit-appearance: none;
    border: 0;
    float: right;
}

th.id_th_check {
padding-top: 52px;
margin-left: -397px;
border-top: 1px solid #ccc;
border-top-left-radius: 20px;
}



button#delete {
float: left;
margin: 2px;
}

button#exportxls {
margin-left: 20px;
float: left;
margin: 2px;
}

button#approve {
float: left;
margin: 2px;
}

button#decline {
float: left;
margin: 2px;
}

button#change_status {
float: left;
margin: 2px;
}

button#ausstreichen {
float: left;
margin: 2px;
}

*/
/*END Svyatoslav input*//*


.send_window {
    display: none;
}

table tr td {
    */
/*height: 80px;*//*

    white-space: nowrap;
    text-overflow: ellipsis;
}
.search_clear {
    z-index: 3;
    cursor: pointer;
    margin-left: 177px;
    margin-top: -22px;
    position: absolute;
    opacity: .3;
    width: 31px;
    text-align: center;
}

.search_clear:hover {
    opacity: 1;
}

.status_message_ok {
    opacity: 0;
}

*/
/*Dmytro add this *//*


body .first_name_td,
body .first_name_th {

    border-right: 1px double #000;
}

table td {
    height: 20px;
}

.menu_header li:active {
    background: none;
}

.sub_menu_header li.active {
    text-decoration: underline;
}

.sub_menu_header li.active a {
    color: #092B96;
}

body .empty_tab {
    font-size: 2em;
    line-height: 7;
    text-align: center;
    font-style: italic;
}
*/
/*end Dmytro add this*//*



.sub_menu_header li {
    list-style-type: none;
}


.add_photo_event{
    cursor: pointer;
    float: right;
    margin-top: -30px;
    margin-right: 95px;
}

.remove_photo_event{
    cursor: pointer;
}

.point {
    overflow: hidden;
    width: 51%;
    float: right;
}

input.point_txt {
    width: 65%;
    float: left;
}

input.point_time {
    width: 30%;
    float: right;
}

.remove_photo_block {
    position: relative;
    float: right;
    margin-top: 15px;
    background: rgba(238, 238, 238, 0.77);
    border-radius: 10px;
    padding: 3px;
    border-top-right-radius: 0;
}
.photo img {
    margin-top: -21px;
}

#imgFile:hover + .new_photo_upload{
    background: rgba(11, 9, 9, 0.64);
    color: rgba(255, 255, 255, 0.81);
}

#imgFile {
    cursor: pointer;
    position: relative;
    font-size: 0;
    width: 100%;
    z-index: 2;
    margin-top: -50px;
    height: 50px;
    background: rgba(11, 9, 9, 0.44);
    color: rgba(255, 255, 255, 0.61);
    opacity: 0;
}
.new_photo_upload {
    position: relative;
    width: 100%;
    font-size: 27px;
    z-index: 1;
    margin-top: -50px;
    height: 50px;
    background: rgba(11, 9, 9, 0.44);
    line-height: 45px;
    color: rgba(255, 255, 255, 0.61);
    text-align: center;
}
.imgs_row {
    width: 96%;
    border: 1px dashed;
    padding: 10px;
    background: #ddd;
    overflow: hidden;
}*/

.guest{
    cursor: pointer;
}

.name_vorname {
    font-weight: bold;
    font-size: 20px;
}

.no_activ_user {
    background: #eee;
    opacity: .7;
}

ul.menu_header {
    margin: 0;
    overflow: hidden;
    height: 40px;
    color: rgb(0, 138, 230);
    background: #eee;
}

.menu_header li {
    float: left;
    display: block;
    padding: 11px;
}

.menu_header li.active {
    float: left;
    display: block;
    padding: 11px;
    background: rgb(197, 197, 197);
}

.menu_header li.active a {
    color: #636363;
}

.menu_header li a{
    color: rgb(0, 138, 230);
}

.menu_header li:active {
    background: rgb(197, 197, 197);
}
.sub_menu_header {
    overflow: hidden;
}
.sub_menu_header li {
    float: left;
    padding: 11px;
}

.input-append input.search-query {
    height: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#appendedInputButtons {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.event.span6 {
    margin: 0;
}

.right_block_event .body {
    height: 400px;
    overflow: auto;
}

.body {
    margin-top: 15px;
}

.list_events {
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

.list_events .event {
    padding: 10px;
}

.list_events .event:hover {
    background: #CCC;
}

.event.active {
    background: #CCC;
}

.full_info_event img{
    width: 100%;
}
.block_name{
    max-height: 350px;
    overflow: auto;
    border: 1px solid black;
}
.pop_window {
    z-index: 3;
    width: 56%;
    position: fixed;
    background: #eee;
    overflow: hidden;
    padding: 10px;
    border: 2px solid #ddd;
    border-top-left-radius: 10px;
    margin: 0% 20%;
    border-top-right-radius: 10px;
}

.span6 input[type="text"] {
    width: 100%;
    height: 34px;
}

.delete_member, .change_member {
    cursor: pointer;
}

.settings_tr {
    opacity: .2;
}

.settings_tr:hover {
    opacity: 1;
}

.no_activ_body {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    display: none;
    opacity: .6;
    z-index: 0;
}
.id_td_it {
    position: absolute;
    margin-left: -299px;
    background: rgba(238, 238, 238, 0.28);
    width: 32px;
}

#id_td_it{
    width: 5%;
    margin-left: -21%;
    height: 37px;
}

.id_td {
    display:none;
}

.id_td_check {
    position: absolute;
    background: rgba(221, 221, 221, 0.13);
    margin-left: -324px;
    height: 37px;
    width: 2%;
}
#id_td_check{
    height: 37px;
    margin-left: -23%;
}
.id_th_check {
   position: absolute;
    margin-left: -297px;
    height: 75px;
    width: 33px;
}

.id_th{
    display:none;
}

th.approve_th {
    padding-bottom: 55px;
}

th.decline_th {
    padding-bottom: 55px;
}

.type_account_th {
    display: none;
}

td.type_account_td {
    display: none;
}

th.last_name_th {
    position: absolute;
    width: 8%;
    margin-left: -248px;
    padding-top: 52px;
    height: 75px;
}

table tr td.last_name_td {
    position: absolute;
    width: 8%;
    margin-left: -248px;
    overflow: hidden;
}

th.first_name_th {
    position: absolute;
    width: 8%;
    height: 72px;
    margin-left: -125px;
    overflow: hidden;
    padding-top: 52px;
}

th#first_name_th{
    margin-left: -8%;
    height: 140px;
}
th#last_name_th{
    margin-left: -16%;
    height: 140px;
}

table tr td.first_name_td {
    position: absolute;
    width: 8%;
    margin-left: -125px;
    overflow: hidden;
}

.highlight {
    background-color: yellow;
}

table tr td#first_name_td{
    margin-left: -8%;
    height: 37px;
}

#last_name_td {
    position: absolute;
    width: 8%;
    height: 37px;
    margin-left: -16%;
    overflow: hidden;
}

.checkbox, .type, .name {
    float:left;
}

.name {
    margin-left: 5px;
    width: 70%
}

.type {
    font-weight: bold;
    width: 15%
}

.type_user {
    width: 100%;
    overflow: hidden;
}

.view_table {
    overflow: auto;
    margin-left: 270px;
    width: 75%;
}

.table-bordered {
    font-size: 12px;
}

#history_user {
    display: block;
    height: 400px;
    overflow: auto;
}

.edit_val {
    background: #FFFA97;
}

.hide_val {
    display: none;
}

.edit_val:hover .hide_val{
    display: block;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
    text-align: center;
}

.edit_val:hover .show_val{
    display: none;
}

/*Svyatoslav add this*/

a.sort {
    float: left;
}

select.filter {
    -webkit-appearance: none;
    border: 0;
    float: right;
}

th.id_th_check {
    padding-top: 52px;
    margin-left: -297px;
    border-top: 1px solid #ccc;
    border-top-left-radius: 20px;
}

th#id_th_check{
    width: 5%;
    margin-left: -21%;
    height: 140px;
}



button#delete {
    float: left;
    margin: 2px;
}

button#exportxls {
    margin-left: 20px;
    float: left;
    margin: 2px;
}

button#approve {
    float: left;
    margin: 2px;
}

button#decline {
    float: left;
    margin: 2px;
}

button#change_status {
    float: left;
    margin: 2px;
}

button#ausstreichen {
    float: left;
    margin: 2px;
}

/*END Svyatoslav input*/

.send_window {
    display: none;
}

table tr td {
    /*height: 80px;*/
    max-width: 200px;
}

p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    width: 100%;
}
.close_window:hover {
    transition-duration: 0.5s;
    transform: rotate(360deg);
}

.close_window{
    margin-left: 4px;
    cursor: pointer;
    float: right;
    padding: 6px;
    background: #9B9B9B;
    border-radius: 25px;
}


.search_clear {
    z-index: 3;
    cursor: pointer;
    margin-left: 177px;
    margin-top: -22px;
    position: absolute;
    opacity: .3;
    width: 31px;
    text-align: center;
}

.search_clear:hover {
    opacity: 1;
}

.status_message_ok {
    opacity: 0;
}

/*Dmytro add this */

body .first_name_td,
body .first_name_th {

    border-right: 1px double #000;
}

table td {
    height: 20px;
}

.menu_header li:active {
    background: none;
}

.sub_menu_header li.active {
    text-decoration: underline;
}

.sub_menu_header li.active a {
    color: #092B96;
}

body .empty_tab {
    font-size: 2em;
    line-height: 7;
    text-align: center;
    font-style: italic;
}
/*end Dmytro add this*/


.sub_menu_header li {
    list-style-type: none;
}


.add_photo_event{
    cursor: pointer;
    float: right;
    margin-top: -30px;
    margin-right: 95px;
}

.remove_photo_event{
    cursor: pointer;
}

.point {
    overflow: hidden;
    width: 51%;
    float: right;
}

input.point_txt {
    width: 65%;
    float: left;
}

input.point_time {
    width: 30%;
    float: right;
}

.remove_photo_block {
    position: relative;
    float: right;
    margin-top: 15px;
    background: rgba(238, 238, 238, 0.77);
    border-radius: 10px;
    padding: 3px;
    border-top-right-radius: 0;
}
.photo img {
    margin-top: -21px;
}

#imgFile:hover + .new_photo_upload{
    background: rgba(11, 9, 9, 0.64);
    color: rgba(255, 255, 255, 0.81);
}

#imgFile {
    cursor: pointer;
    position: relative;
    font-size: 0;
    width: 100%;
    z-index: 2;
    margin-top: -50px;
    height: 50px;
    background: rgba(11, 9, 9, 0.44);
    color: rgba(255, 255, 255, 0.61);
    opacity: 0;
}
.new_photo_upload {
    position: relative;
    width: 100%;
    font-size: 27px;
    z-index: 1;
    margin-top: -50px;
    height: 50px;
    background: rgba(11, 9, 9, 0.44);
    line-height: 45px;
    color: rgba(255, 255, 255, 0.61);
    text-align: center;
}
.imgs_row {
    width: 96%;
    border: 1px dashed;
    padding: 10px;
    background: #ddd;
    overflow: hidden;
}

