.form_login_guest UL LI INPUT#email, .form_login_guest UL LI #password{
    margin: 0 0 5px 0;
    padding: 0;
    height: 26px;
}

.t_body {
    height: 700px;
    background-position: center;
}

.block_reg_index_einmalige_bewerburg {
    margin: 90px 0 90px -35px;
}

.t_header_menu.span6.t_header_menu_user {
    margin: 0 0 0 -70px;
}

ul.span7.top-user-menu {
    width: 250px;
}

.search_kontakt_finder_mitglieder{
    width: 158px !important;
    margin: 28px 0 0 11px !important;
}

.add_new_friend {
    width: 30px;
    height: 31px;
}

#imgFile{
    width: 75px;
    background: #000;
    margin: 0 auto;
    display: block;
}