.t_header_menu input[type=text] {
    width: 165px;
    height: 15px;
}

.form_login_guest UL LI INPUT#email, .form_login_guest UL LI #password{
    margin: 0 0 5px 0;
    padding: 0;
    height: 26px;
}

.t_body {
    height: 700px;
    background-position: center;
}

.guest_sushe{
    width: 200px !important;
}