/*PAGE WALL*/

.no_post_yet{
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 10px;
}

#block_type_new_post {
    resize: none;
    height: 25px;
    overflow: hidden;
    width: 100%;
    border: 1px solid #A1A1A1;
    padding: 5px;
    outline: 0;
}

#sub_new_comment {
    resize: none;
    height: 25px;
    overflow: hidden;
    width: 100%;
    border: 1px solid #A1A1A1;
    padding: 5px;
    outline: 0;
}

.new_post_btn_attached_photo{
    border: 1px solid #690F19;
    line-height: 20px !important;
    min-height: 24px !important;
    text-align: center;
    border-radius: 5px;
    color: #690F19;
}

.new_post_btn_send{
    background: #690F19;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
    line-height: 20px !important;
    min-height: 20px !important;
}

#sub_new_comment {
    resize: none;
    height: 25px;
    overflow: hidden;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
    /* For Firefox */
}
.contenteditable {
    background: #ffffff;
    margin-bottom: 1%;
}

.comment {
    background: #bfbfbf;
    box-sizing: border-box;
    padding: 1%;
    height: auto;
    margin-bottom: 1%;
    border-radius: 2px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

li.dropdown:hover ul.dropdown-menu {
    display: block;
    margin: 0;
}
a.menu:after,
.dropdown-toggle:after {
    content: none;
}

.sub_attached_photo {
    cursor: pointer;
}

