<center>
<form action="./" method="post">
	<?php if(!empty($error)) {?><span class="error"><?php echo $error; ?></span><?php } ?>
	<label><?php echo $dict['email']; ?>:</label>
	<input type="text" name="email" value="<?php if (!empty($_POST['email'])) echo htmlspecialchars(($_POST['email'])); ?>" />	
	<input type="submit" value="<?php echo $dict['submit']; ?>" />
</form>
</center>