<center>
<form action="./?code=<?php echo $code; ?>" method="post">
<?php if (!empty($error)) {?> <span class="error"><?php echo $error; ?></span><?php } ?>
<label><?php echo $dict['new_password']?>:</label>
<input name="new_password" type="password" />
<br/>
<label><?php echo $dict['confirm_password']?>:</label>
<input name="confirm_password" type="password" />
<br/>
<input type="submit" value="<?php echo $dict['submit']; ?>" />
</form>
</center>