html, body {
	width: 100%;
	height: 100%;
}
html {
	display: table;
}
body {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
body > * {
	display: inline-block;
}
form .error {
	color: red;
	display: block;
}
