.set_input{
    float: right;
    margin-top: 20px;
}
.set_input_without_margin{
    float: right;
}
.guest{
    cursor: pointer;
}

.name_vorname {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 11px;
}

.no_activ_user {
    background: #eee;
    opacity: .7;
}

ul.menu_header {
    margin: 0;
    overflow: hidden;
    height: 40px;
    color: rgb(0, 138, 230);
    background: #eee;
}

.menu_header li {
    float: left;
    display: block;
    padding: 11px;
}

.menu_header li.active {
    float: left;
    display: block;
    padding: 11px;
    background: rgb(197, 197, 197);
}

.menu_header li.active a {
    color: #636363;
}

.menu_header li a{
    color: rgb(0, 138, 230);
}

.menu_header li:active {
    background: rgb(197, 197, 197);
}

.sub_menu_header li {
    float: left;
    padding: 11px;
}

.input-append input.search-query {
    height: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#appendedInputButtons {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.event.span6 {
    margin: 0;
}

.right_block_event .body {
    height: 400px;
    overflow: auto;
}

.body {
    margin-top: 15px;
}

.list_events {
    height: 400px;
    overflow: auto;
    overflow-x: hidden;
}

.list_events .event {
    padding: 10px;
}

.list_events .event:hover {
    background: #CCC;
}

.event.active {
    background: #CCC;
}

.full_info_event {
    float: left;
    width: 400px;
}

.full_info_event_label {
    margin-bottom: 10px;
}

.name_vorname_box {
    margin: 0 0 0 92px;
    min-width: 250px;
}

.full_info_event img {
    width: 212px;
    max-width: inherit;
}

.block_name{
    max-height: 350px;
    overflow: auto;
    border: 1px solid black;
}
.pop_window {
    z-index: 5;
    width: 72%;
    min-height: 600px !important;
    position: fixed;
    top: 60px;
    background: #eee;
    overflow: hidden;
    padding: 10px;
    border: 2px solid #ddd;
    margin: 0 12% !important;
    display: none;
    border-radius: 10px;
}
.close_window{
    margin-right: -10px;
    margin-top: -10px;
}
#overtext{
    text-align:center;
    max-height: 300px;
    overflow: auto;
}
/*mitglieder_approve*/
.table_mid td{
    height: 60px;
}
/*Werbung page*/
.clear_ad:hover,
.add_ad:hover,
.clear_ad:active,
.add_ad:active
.clear_ad:focus,
.add_ad:focus{
    text-decoration: none;
    color: #000;
    outline: none
}

.list li{
    display: table;
}

.clear_ad{
    background: rgb(255, 0, 0);
    padding: 3px 7px 3px 7px;
    color: #fff;
    cursor: pointer;
}

.add_ad{
    background: rgb(41, 228, 41);
    padding: 3px 7px 3px 7px;
    color: #fff;
    cursor: pointer;

}

.input_style{
    float: left;
    position: relative;
}
.input_style input{
    position: absolute;
    top: 0;
    margin-bottom: 0;
    opacity: 0;
}

.bg_input_file{
    width: 136px;
    padding: 4px 0;
    top: 0;
    border-radius: 4px;
    background: rgb(236, 230, 230);
    border: 1px solid #cccccc;
    margin-right: 15px;
}

.werbung_links{
    height: 50px;
}

/* MODAL PAGE mitglieder_registered.php START */
div#vita, div#overflow, div#photo_window {
    min-height: 0 !important;
}
/* MODAL PAGE mitglieder_registered.php END */

.span6 input[type="text"] {
    width: 100%;
    height: 34px;
}

.delete_member, .change_member {
    cursor: pointer;
}

.settings_tr {
    opacity: .2;
}

.settings_tr:hover {
    opacity: 1;
}

.no_activ_body {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    display: none;
    opacity: .6;
    z-index: 1;
}
.id_td_it {
    background: rgba(238, 238, 238, 0.28);
    width: 60px;
}

.id_td {
    display:none;
}

.id_td_check {
    position: absolute;
    background: rgba(221, 221, 221, 0.13);
    margin-left: -307px;
    height: 37px;
    width: 2%;
}
#id_td_check{
    height: 37px;
    margin-left: -21%;
}

th.approve_th {
    padding-bottom: 55px;
}

th.decline_th {
    padding-bottom: 55px;
}

.type_account_th {
    display: none;
}

td.type_account_td {
    display: none;
}
.control-label{
    float: left;
    width: 160px;
    text-align: right;
}

.photo_part{
    height: auto;
    width: 353px;
    min-height: 150px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 30px;
    margin: 0 0 20px 0;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.space-right{
    margin-right: 5%;
    margin-bottom: 1%;
}

.list{
    width: 800px;
    margin: 0 auto;
}

.list .table_werbung th label{
    margin-bottom: 0px;
    font-weight: bold;
}

.list .table_werbung th{
    min-width: inherit;
    height: auto;
    border:none;
    vertical-align: middle;
    font-weight: 100;
    text-align: center;
}

.table th{
	min-width:90px;
}

.highlight {
    background-color: yellow;
}

.checkbox, .type, .name {
    float:left;
}

.name {
    margin-left: 5px;
    width: 70%
}

.type {
    font-weight: bold;
    width: 15%
}

.type_user {
    width: 100%;
    overflow: hidden;
}

.view_table {
    max-height: 800px;
}
#table_group tbody tr:first-child{
    text-align: center;
}
.table-bordered {
    font-size: 12px;
}

#history_user {
    display: block;
    height: 400px;
    overflow: auto;
}

.edit_val {
    background: #FFFA97;
}

.hide_val {
    display: none;
}

.edit_val:hover .hide_val{
    display: block;
    border-right: 2px solid #ddd;
    border-left: 2px solid #ddd;
    text-align: center;
}

.edit_val:hover .show_val{
    display: none;
}

/*Svyatoslav add this*/

a.sort {
    float: left;
}

select.filter {
    -webkit-appearance: none;
    border: 0;
    float: right;
}

th.id_th_check {
    padding-top: 48px;
    border-top: 1px solid #ccc;
    border-top-left-radius: 20px;
}

th#id_th_check{
    display: none;
}



button#delete {
    float: left;
    margin: 2px;
}

button#exportxls {
    margin-left: 20px;
    float: left;
    margin: 2px;
}

button#approve {
    float: left;
    margin: 2px;
}

button#decline {
    float: left;
    margin: 2px;
}
button#new_user{
    float: left;
    margin: 2px;
}

button#change_status {
    float: left;
    margin: 2px;
}

button#ausstreichen {
    float: left;
    margin: 2px;
}

/*END Svyatoslav input*/

.send_window {
    display: none;
}

table tr td {
    /*height: 80px;*/
    max-width: 200px;
}

p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    width: 100%;
}
.close_window:hover {
    transition-duration: 0.5s;
    transform: rotate(360deg);
}

.close_window{
    margin-left: 4px;
    cursor: pointer;
    float: right;
    padding: 6px;
    background: #9B9B9B;
    border-radius: 25px;
}


[class^=search_clear] {
    z-index: 3;
    cursor: pointer;
    margin-left: 177px;
    margin-top: -22px;
    position: absolute;
    opacity: .3;
    width: 31px;
    text-align: center;
}

.search_clear:hover {
    opacity: 1;
}

.status_message_ok {
    opacity: 0;
}

/*Dmytro add this */

body .first_name_td,
body .first_name_th {
    /*border-right: 1px double #000;*/
}

.table-bordered {
    border-left: 1px solid #ddd;
    border-collapse: collapse;
}

table td {
    height: 20px;
}

input[type="checkbox"]{
    margin-top: 0px; 
}

.menu_header li:active {
    background: none;
}

.sub_menu_header li.active {
    /*text-decoration: underline;*/
}

ul.sub_menu_header.nav-tabs li {
    padding: 0;
    margin: 11px 0 6px;
}

ul.sub_menu_header.nav-tabs li a {
    text-decoration: none;
}

ul.sub_menu_header.nav-tabs .active a:hover {
    border-bottom: 1px solid #fff;
}

ul.sub_menu_header.nav-tabs li a:hover {
    background: #eee;
    border-bottom: 0;
}

.sub_menu_header li.active a {
    color: #092B96;
}

body .empty_tab {
    font-size: 2em;
    line-height: 7;
    text-align: center;
    font-style: italic;
}
/*end Dmytro add this*/


.sub_menu_header li {
    list-style-type: none;
}


.add_photo_event{
    cursor: pointer;
    float: right;
    margin-top: -30px;
    margin-right: 95px;
}

.remove_photo_event{
    cursor: pointer;
}

input.point_txt {
    width: 240px;
    margin-right: 20px;
    float: left;
}

.kurzinformation-textaria{
    width: 353px;
}

input.point_time {
    width: 30%;
}

.remove_photo_block {
    position: relative;
    float: right;
    margin-top: 15px;
    background: rgba(238, 238, 238, 0.77);
    border-radius: 10px;
    padding: 3px;
    border-top-right-radius: 0;
}
.photo img {
    margin-top: -21px;
}

#imgFile:hover + .new_photo_upload{
    background: rgba(11, 9, 9, 0.64);
    color: rgba(255, 255, 255, 0.81);
}

#imgFile {
    cursor: pointer;
    position: relative;
    font-size: 0;
    width: 100%;
    z-index: 2;
    margin-top: -50px;
    height: 50px;
    background: rgba(11, 9, 9, 0.44);
    color: rgba(255, 255, 255, 0.61);
    opacity: 0;
}
.new_photo_upload {
    position: relative;
    width: 100%;
    font-size: 27px;
    z-index: 1;
    margin-top: -50px;
    height: 50px;
    background: rgba(11, 9, 9, 0.44);
    line-height: 45px;
    color: rgba(255, 255, 255, 0.61);
    text-align: center;
}
.imgs_row {
    width: 96%;
    border: 1px dashed;
    padding: 10px;
    background: #ddd;
    overflow: hidden;
}

.city_name {
padding: 5px;
  color: rgb(150, 41, 32);
  cursor: pointer;
  float: left;
}

/*?????? ??? ??????, ?? ???? ?? ??????? ?????? ???? (?? ??? ??????)*/
.user_edit_icon {
    position: relative;
    background-size: 413px;
    height: 20px;
    width: 20px;
    background-position: -145px 0;
}
.info_msg {
    display: none;
    position: absolute;
    background: #fff;
    padding: 2px;
    top: 119px;
    border: 2px #0E11F2 solid;
    left: 13px;
}
.new_event .photo img{
    max-width: 160px;
    margin: 10px;
}

.no_sroll {
    float: left;
}
.hinzufuegen_entfernen_box, .control-group.control-group-weitere-type, .control-group-eventtermine, .control-group-fotos, .control-group-internetseite {
    clear: both;
}
.control-group-fotos{
    margin-bottom: 60px;
}
.control_group_sponsoren #type_of_event, select#type_of_event.type_of_event_change{
    width: 309px;
}
td.id_id_hid {
  display: none;
}
.scroll {
    width: auto;
    overflow: auto;
}
/* TABLE MITGLIEDER END */

.grey_td {
    background: #eee;
}

.red_td {
    background: #da4f49;
}

.green_td {
    background: #5bb75b;
}

/* SPONSOREN */

.buttons-block-sponsoren {
    margin: 11px 0 20px 0;
    float: left;
}

select.select.sponsoren-admin-select {
    margin-top: 9px;
}

.sponsoren-links-filter-block {
    margin-top: 10px;
}

.sponsoren-links-filter-block a {
    padding: 0 15px 0 0;
}

.sponsoren-block-action-btn {
    float: left;
    margin: 11px 0 20px 10px;
}

/* EVENT LIST */

.bottom-box-btn {
    width: 212px;
    margin: 40px auto 0;
    padding-bottom: 10px;
    clear: both;
}

.bottom-box-btn #close_pop_window {
    margin: 0 20px 0 0;
}

.controls-event_list-modal .jqte {
    width: 352px;
}

.controls.controls-event_list-modal .jqte .jqte_toolbar .jqte_tool_2,
.controls.controls-event_list-modal .jqte .jqte_toolbar .jqte_tool_11,
.controls.controls-event_list-modal .jqte .jqte_toolbar .jqte_tool_12,
.controls.controls-event_list-modal .jqte .jqte_toolbar .jqte_tool_13,
.controls.controls-event_list-modal .jqte .jqte_toolbar .jqte_tool_14,
.controls.controls-event_list-modal .jqte .jqte_toolbar .jqte_tool_15,
.controls.controls-event_list-modal .jqte .jqte_toolbar .jqte_tool_16,
.controls.controls-event_list-modal .jqte .jqte_toolbar .jqte_tool_19,
.controls.controls-event_list-modal .jqte .jqte_toolbar .jqte_tool_20,
.controls.controls-event_list-modal .jqte .jqte_toolbar .jqte_tool_21{
     display: none;
}

.counter-kurzinformation {
    text-align: center;
    display: block;
}

input#event_points {
    width: 85px;
    float: left;
}

.link-youtube {
    clear: both;
}

.guest.was {
    background: #5BB75B;
}

.icon_blue_filter {
    background: url("images/filter_blue.png") -2px -3px;
    width: 14px;
}

.pagination.pagination_mitglieder_registered, .pagination_mitglieder_kandidate,
.pagination_mitglieder_approve, .pagination_event_list, .pagination_admin_sponsoren{
    float: right;
    margin-right: 20px !important;
}

.pagination.guest_list_pagination {
    float: right;
    margin: 20px 20px 0 0;
}

ul.sub_menu_header.nav-tabs {
    margin-top: 15px;
}
.pagination {
    margin: 10px 0;
}

.event_btn_box, .administration_btn_box{
    margin-top: 20px;
}

.scroll {
    border-right: 1px solid #DDD;
}

.sponsore_btn_box {
    float: left;
    padding-top: 20px;
}

.input-append.set_input_without_margin.input_append_mitglieder_registered, .input_append_sponsoren,
.input_append_mitglieder_kandidate, .input_append_mitglieder_approve, .input_append_event_list{
    margin: 10px 0 0 0;
    float: right;
}
.pagination.pagination_mitglieder_kandidate {
    margin-right: 20px;
}
.user_types{
    padding-left: 0;
}

.input_style .file {
    width: 155px;
    margin: 0 0 0 -74px;
}

img[reklam]{
    display: none;
}

.add_new_event_point_red{
    margin: 0 0 0 110px;
}

.control-group.control-group-time-event .controls, .control-group.control-group-weitere-sponsoren .controls, .add_new_event_point_first_box {
    margin: 0 0 0 188px;
}

.sortable li{
    float: none !important;
}

.werbung_buttons {
    width: 672px;
    margin: 20px auto 0;
    padding: 0 0 30px 0;
}

.werbung_buttons input {
    float: right;
    margin: 0 0 0 5px;
}

.row-fluid.form_change_member_modal .row-fluid .span4 input,
.row-fluid.form_change_member_modal .row-fluid .span4 select
{
    width: 100%;
}

.row-fluid.form_change_member_modal .row-fluid .span5 textarea{
    width: 79%;
}

.row-fluid.box_submit_buttons {
    width: 81.333333333%;
}

.row-fluid.box_submit_buttons input {
    float: right;
    margin: 25px 0 0 5px;
}

.span5.list_events.list_events_registration {
    margin: 0;
}

table.table.table-hover.table_hover_registration {
    border: 1px solid #DDDDDD;
}

td.empty_cell_einlass {
    height: 459px;
}

.input-append.input_append_registration {
    margin: -40px 0 10px 0;
}

.span5.list_events.list_events_registration {
    margin: 0 148px 0 0;
    overflow: visible;
}

.container_fluid_registration {
    min-width: 850px;
}

.types_users table#table_group tr td input{
    margin: 0 auto;
    display: block;
}
.types_users table#table_group tr td input {
    margin: 4px auto 0;
    display: block;
}
.sortable li[name="images[]"]:first-child {
    border-color: #F00;
    border-width: 2px;
    padding: 5px 0;
}
.row-fluid.mit_registered_submit_box {
    width: 210px;
    float: right;
    margin: 20px 16.5% 0 0;
}
.sponsoren_submit_box {
    margin: 20px 0 0 275px;
}
select.event_type_sponsoren {
    width: 206px;
}
input.input_admin_administrator {
    height: 25px;
}
select.select_status {
    width: 206px;
}
.administrator_submit_box {
    padding-left: 17px;
}
.table_bordered_administration thead tr th {
    padding: 8px 0 43px 8px;
}
.table_bordered_administration tbody tr td {
    height: 37px;
}
.pop_window_administration{
    display: none;
}
.pop_window_administration .new_member .row-fluid:first-child{
    overflow: auto;
}
.table_width_cell tr th{
    min-width: 132px;
    height: 71px;
    text-align: center;
}
table.table.table-bordered tr th {
    text-align: center;
}
table.table.table-bordered tr th {
    text-align: center;
    height: 132px;
}
.registration_label_veranstaltung{
    float: left;
    font-weight: bold;
    padding: 4px 0 0 0;
}
.search-query{
    z-index: 0;
}
.table_bordered_history_user tr th {
    vertical-align: middle;
}
.pop_window_sponsoren{
    display: none;
}
.row_fluid_window_modal_sponsoren{
    overflow: auto;
    height: 400px;
}
.row_fluid_window_modal_sponsoren .row-fluid .span5 .photo_file{
    margin: 0 0 7px 0;
    width: 205px;
}
.points_time input{
    height: 30px;
}
.points_time .close{
    margin-bottom: 10px;
}
.add_new_event_point_first {
    margin: 0 0 0 110px;
}
.event_submit_box{
    text-align: right
}
.pop_window_administration {
    min-height: inherit !important;
    width: 922px;
    left: 0;
    right: 0;
    margin: 0 auto !important;
}
input#photoimg {
    width: 100%;
    margin: 0 0 8px 0;
    height: 35px;
}
.input-append input.search-query::-ms-clear {
    display: none;
}
.empty_cell_einlass{
    height: 37px;
}
label#label_event_points {
    margin-bottom: 0;
}
button#remove_event_point {
    float: left !important;
    margin: 5px 0 0 3px;
}
.control-group.type_to_copy {
    clear: both;
}
.bg_input_file.bg_input_file_sponsoren {
    margin-bottom: 20px;
}
/* MODAL VERANSTALTUNG */
.pop_window_list_event_modal_new, #change_event{
    height: 465px;
    width: 922px;
    min-height: inherit !important;
    display: none;
    overflow: auto;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 10px;
    border: 10px solid #EEEEEE;
}
.controls .event_list_input{
    width: 354px;
    height: 30px;
}
#description_event{
    width: 400px;
}
#new_event_add_new_photo, .photos{
    display: none;
}
#remove_spansor{
    float: none;
    margin-bottom: 10px;
}
.table_bordered_event_list{
    width:100%;
    background: #ffffff;
}
.event_btn_box #new {
    float: left;
    margin-right: 4px;
}
#btn_change_event_save{
    float: right;
}
form.new_event, .form_change_event {
    width: 562px;
    margin: 0 auto;
}
input#description_event_points {
    width: 247px;
}
.fotos_box {
    margin-left: 187px;
}
.title_fotos{
    margin: 0 0 0 -188px;
}
.new_event_add_new_photo {
    margin-top: -10px;
}
select#main_spaosor, select#sub_spaosor, select#rest_sponsor, select#main_sponsor, select#sub_sponsor{
    width: 354px;
}
button#add_new_sponsor1 {
    margin: 0 0 0 309px;
}
.control-group.control-group-time-event #points_time .point_txt {
    width: 248px;
}
.control-group.fotos_container {
    clear: both;
    margin: 20px 0 0 188px;
}
select#type_of_event.event_list_input, .textarea_sponsoren {
    width: 377px;
}
.new_event_type{
    clear: both;
}
button.btn.change_event {
    margin-right: 4px;
    float: left;
}
.btn_administration_php {
    margin-right: 4px;
    float: left;
}
.type_of_event_red, #type_of_event {
    width: 354px;
}
.type_of_event_title{
    clear: both;
}
.pop_window_mitglieder_registered, .pop_window_mitglieder_registered_change_member {
    min-height: 480px !important;
    border-radius: 10px;
    width: 939px;
    height: 475px;
    left: 0;
    right: 0;
    margin: 0 auto !important;
}

.sortable { list-style-type: none; margin: 0; padding: 0; width: 350px; }
.sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }
.pop_window_list_user {
    position: absolute;
}
.view_table_list {
     margin-left: 10px;
     margin-top: 0;
 }
.close_sponsoren, .control_group_sponsoren #type_of_event {
    float: left;
}
.control_group_sponsoren, .weitere_type_sponsoren {
    clear: both;
}
.close.close_sponsoren {
    margin: 5px 0 0 5px;
}
li.archivieren_btn {
    float: right;
}
/* PINNWAND */
.input_append_pagination_pinnwand {
    float: right;
    margin: 10px 0 10px 20px;
}
.pagination.pagination_pinnwand {
    float: right;
    margin: 10px 0 10px 0;
}
.pinnwand_btn_box {
    float: left;
    margin: 10px 0 0 0;
}
.table-bordered-pinnwand{

}
table.table.table-bordered.table-bordered-pinnwand tr th {
    height: auto;
    text-align: left;
}
.checkbox_center{
    display: block;
    margin: 0 auto !important;
}
.table-bordered-pinnwand tr th:first-child, .table-bordered-pinnwand tr td:first-child{
    width: 90px;
}
.pop_window.new_post.pop_window_pinnwand, .pop_window.pop_window_pinnwand.pop_window_der_text_all_view {
    width: 610px;
    min-height: 200px !important;
    left: 0;
    right: 0;
    padding: 10px 30px;
    margin: 0 auto !important;
}
textarea.pinnwand_area {
    width: 100%;
}
select.pinnwand_select {
    margin: 0 0 30px 0;
}
button.btn.btn_sender {
    float: right;
}
.img_box img {
    height: 60px;
    width: 60px;
    margin: -5px 5px 5px 0;
}
.pop_window_der_text_all_view div i {
    float: right;
    margin-right: -20px;
    cursor: pointer;
}
.text_posts {
    background-color: #fff;
    padding: 10px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 5px;
}
img.img_posts {
    width: 200px;
    height: 100px;
    float: right;
}

/*v.chuy edit 21.06.15*/
.darkbg{
    background:#ddd !important;
}
#status{
    font-family:Arial; padding:5px;
}
.error{ background:#f0c6c3; border:1px solid #cc6622; }
/*end v.chuy edit 21.06.15*/
.pop_window_sponsoren, #change_sponsor {
    width: 938px;
    height: 465px;
    min-height: 482px !important;
    margin: 0 auto !important;
    left: 0;
    right: 0;
}
form.new_sponsor, .change_sponsor {
    margin-left: 150px;
}
.input_style.input_style_change_sponsoren {
    margin-bottom: 20px;
}
.scroll.scroll_eingeladene_modal, .scroll.scroll_kandidaten_modal {
    margin-right: 22px;
}
ul.nav.nav-tabs.nav-tabs-gasteliste {
    margin-bottom: 0;
}
form.table.approve_table .no_scroll_approve table tr td,  form.table.approve_table .scroll_approve table tr td {
    height: auto;
}

/* TIME PICKER */
.ui-timepicker-inline { display: inline; }
#ui-timepicker-div { padding: 0.2em; }
.ui-timepicker-table { display: inline-table; width: 0; }
.ui-timepicker-table table { margin:0.15em 0 0 0; border-collapse: collapse; }
.ui-timepicker-hours, .ui-timepicker-minutes { padding: 0.2em;  }
.ui-timepicker-table .ui-timepicker-title { line-height: 1.8em; text-align: center; }
.ui-timepicker-table td { padding: 0.1em; width: 2.2em; }
.ui-timepicker-table th.periods { padding: 0.1em; width: 2.2em; }
/* span for disabled cells */
.ui-timepicker-table td span {
    display:block;
    padding:0.2em 0.3em 0.2em 0.5em;
    width:1.2em;
    text-align:right;
    text-decoration:none;
}
/* anchors for clickable cells */
.ui-timepicker-table td a {
    display:block;
    padding:0.2em 0.3em 0.2em 0.5em;
    width: 1.2em;
    cursor: pointer;
    text-align:right;
    text-decoration:none;
}
/* buttons and button pane styling */
.ui-timepicker .ui-timepicker-buttonpane {
    background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0;
}
.ui-timepicker .ui-timepicker-buttonpane button { margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
/* The close button */
.ui-timepicker .ui-timepicker-close { float: right }
/* the now button */
.ui-timepicker .ui-timepicker-now { float: left; }
/* the deselect button */
.ui-timepicker .ui-timepicker-deselect { float: left; }

.ui-timepicker-hours .ui-timepicker tr td a, .ui-timepicker-minutes .ui-timepicker tr td a{
    width: 15px !important;
    padding: 5px 10px 5px 3px !important;
}
input.point_time.event_list_input.event_list_input_first {
    width: 85px;
}
/* TIME PICKER END */
.delete_img {
    position: absolute;
    margin: -61px 0;
}
.point_time_plus {
    float: left;
}
.edit_img_for_post {
    float: left;
}
.jqte_editor p {
    white-space: normal;
}
.myCalendarEventList .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    margin: 0 0 0 232px;
}
.list_user_btn_box{
    float: left;
    width: 163px;
    margin-left: 10px;
}
.pagination_kandidaten, .pagination_eingeladene{
    float: right;
    margin: 0 11px 0 0;
}
.pop_window_list_user_btn_box{
    float: left;
    width: 163px;
    margin-left: 10px;
}
#pop_foto{
    display: block;
    margin: 0 auto;
    max-width: 600px;
}
.foto_eingeladene{
    text-align:center
}
.pull-right{
    margin-right: -10px;
    margin-top: -10px;
}
.check_all{
    margin-top: -2px;
}